<div class="panel panel-default main-panel">
    <!-- <div class="panel-heading">
        Default Panel
    </div> -->
    <div class="panel-body">
        <div class="panel blank-panel ui-tab">

                    <!-- <div class="panel-heading">
                        <div class="panel-title m-b-md"><h4>Blank Panel with text tabs</h4></div>
                    </div> -->

                    <div class="panel-body">
                        <tabset>
                            <tab heading="Entity Browser" ng-controller="achParentCtrl as achParent">
                                <div class="btn-group add" dropdown="">
                                    <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                                        Add <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li ng-click="addHypothesisBox()"><a href="">Hypothesis</a></li>
                                        <li ng-click="addEvidenceBox()"><a href="">Evidence</a></li>
                                        <li ng-click="addEntity()"><a href="">Entity</a></li>
                                    </ul>
                                </div>
                                <form class="ach-search">
                                    <div class="form-group">
                                        <input type="text" ng-model="objectName" placeholder="Object of Interest" class="form-control" name="ach-search">
                                    </div>
                                </form>
                                <div infinite-canvas id="container" ng-include="'components/main_panel/evidence_browser.html'"></div>
                            </tab>
                            <tab heading="Provenance Timeline" ng-controller="timelineCtrl">
                                <angularchart
                                    dataset="dataset"
                                    schema="schema"
                                    options="options">
                                  </angularchart>
                            </tab>
                        </tabset>

                    </div>

                </div>
    </div>

</div>