@import '/less/style.less';
@nav-profil-pattern: url("../assets/images/patterns/header-profile.png") no-repeat;
// body { padding-top: 50px; }
#page-wrapper {
	margin: 0;
}

nav {
	.navbar-form-custom {
		width: 400px;
		.form-control {
			height: 50px;
		}
		.form-group {
			padding-top: 6px
		}
	}
}

.main-panel {
	.panel-body {
		.dim {
			opacity: 0.2;
		}
		.add {
			position: absolute;
			right: 45px;
			top: 45px;
			z-index: 99;
			.dropdown-menu {
				left: -95px;
			}
		}
		.ach-search {
			position: absolute;
			right: 125px;
			top: 45px;
			z-index: 99;
			input {
				border-radius: 3px;
			}
		}
	}
}