@import '/less/style.less';
@nav-profil-pattern: url("../assets/images/patterns/header-profile.png") no-repeat;
// body { padding-top: 50px; }
#page-wrapper {
	margin: 0;
}

nav {
	.navbar-form-custom {
		width: 400px;
		.form-control {
			height: 50px;
		}
		.form-group {
			padding-top: 6px
		}
	}
}

.main-panel {
	.panel-body {
		.dim {
			opacity: 0.2;
		}
		.zoom-controls{
			position: absolute;
			top: 46px;
			right: 330px;
		}
		.add {
			position: absolute;
			right: 45px;
			top: 45px;
			z-index: 99;
			.dropdown-menu {
				left: -95px;
			}
		}
		.ach-search {
			position: absolute;
			right: 125px;
			top: 45px;
			z-index: 99;
			input {
				border-radius: 3px;
			}
		}
	}
}

//overriding css

.ui-tab .tab-content {
  padding: 10px 0px 0px 0px !important;
}

//Base CSS


.divide{
	border-top: 1px solid #ddd;
}

.divider-row{
	min-height: 10px;
}


.btn-file {
	position: relative;
	overflow: hidden;
}

.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	background: red;
	cursor: inherit;
	display: block;
}


input[readonly] {
	background-color: white !important;
	cursor: text !important;
}

.bs-callout-warning {
	background-color: #faf8f0;
	border-color: #faebcc;
}

.bs-callout {
	margin: 10px 0;
	padding: 10px;
	border-left: 3px solid #faebcc;
}

.bs-callout-warning h4 {
	color: #8a6d3b;
}

.bs-callout h4 {
	margin-top: 0;
	margin-bottom: 5px;
}

.margin-bottom-0{
	margin-bottom: 0px !important;
}

.margin-bottom-2{
	margin-bottom: 2px !important;
}

.margin-top-50{
	margin-top: 50px;
}

.padding-top-2{
	padding-top: 2px !important;
}

.padding-top-5{
	padding-top: 5px !important;
}

.padding-top-7{
	padding-top: 7px !important;
}

.padding-top-20{
	padding-top: 20px !important;
}

.padding-top-45{
	padding-top: 45px !important;
}

.right-padding-5 {
	padding-right: 5px !important;
}

.padding-right-2{
	padding-right: 2px !important;
}

.padding-bottom-0{
	padding-bottom: 0px !important;
}

.padding-bottom-2{
	padding-bottom: 2px !important;
}

.padding-left-0{
	padding-left: 0px !important;
}

.padding-left-25 {
	padding-left: 25px !important;
}

.padding-left-35{
	padding-left: 35px !important;
}

.padding-1{
	padding: 1px !important;
}

.padding-3{
	padding: 3px !important;
}

.padding-5{
	padding: 5px !important;
	padding-bottom: 7px !important;
}

/*.label{
	font-size: 80% !important;
}*/

.border-eee{
	border-color: #eee;
}

.label{
	border: 1px solid #DDD;
	color: #000;
	font-weight: normal !important;
}

.LOCATION{
	background-color: #777;
	color: #FFF;
}

.PERSON{
	background-color: #337ab7;
	color: #FFF;
}

.ORGANIZATION{
	background-color: #5cb85c;
	color: #FFF;
}

.MONEY{
	background-color: #5bc0de;
	color: #FFF;
}

.TIME{
	background-color: #f0ad4e;
	color: #FFF;
}

.PERCENT{
	background-color: #d9534f;
	color: #FFF;
}

.DATE{
	background-color: #762a83;
	color: #FFF;
}

// Padding reset..

.col-padding-reset{
	padding-left: 4px !important;
	padding-right: 4px !important;
}

//List View..
.entity-tab-content{
	.top-margin-15{
		margin-top: 15px;
	}

	.colored{
		color: #ff9600;
	}

	.alert{
		margin-bottom: 5px;
	}

	.alert-dismissible{
		margin-left: 50px;
		margin-right: 50px;
	}

	.grid{
		position: relative;
		width: 100%;
		/*height: 675px;*/
		margin: 0 0 0 0;
		padding-top: 10px;
		/*background: #FAFAFA;*/
		overflow-y: hidden;
		overflow-x: scroll;
	}

	.max-width{
		width: 20px;
	}

	.overview-scrollbar{
		width: 20px;
		float: right;
	}

	.top-margin{
		margin-top: 90px;
	}

	.list-container{
		height: 550px;
	}

	.col-1-4 {
		margin-left: 15px;
		width: 310px;
		padding: 0px;
		float: left;
	}

	.col-space{
		width: 15px;
		height: 550px;
		float: left;
		padding-left: 2px;
	}

	.top-margin-10{
		margin-top: 10px;
	}

	.margin-bottom-10{
		margin-bottom: 10px;
	}

	.padding-right-25{
		padding-right: 25px;
	}

	.list-panel-heading{
		padding: 7px 2px;
	}

	.btn-sm, .btn-group-sm>.btn {
		padding: 5px 10px;
	}

	ol, ul {
		list-style-type: none;
		margin: 0px;
		padding: 0px;
	}

	.js-items-list > ul > li{
		border-bottom: 1px solid #CCC;
	}

	.scrollbar-item{
		background: #FAFAFA;
	}

	.list-panel-body{
		padding: 0px;
		overflow: hidden;
		float: left;
	}

	.list-scroller{
		/*width: 400px;*/
		overflow: auto;
	}

	.list-restrict {
		width: 276px;
	}

	.list-restrict-full {
		width: 308px;
	}

	.list-row {
		margin-right: -15px !important;
		margin-left: -15px !important;
	}

	.grid::-webkit-scrollbar {
	    -webkit-appearance: none;
	    height: 7px;
	}

	.grid { -ms-overflow-style: none; }

	.grid::-webkit-scrollbar-thumb {
	    border-radius: 5px;
	    background-color: rgba(0,0,0,.5);
	    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
	}

	.bar-container{
		margin: 3px 0px;
		height: 14px;
		background: black;
	}

	.bar{
		background: white;
		height: 14px;
	}

	.ellipsize{
		white-space: nowrap;
		overflow: hidden;
	}

	rect.frame{
		fill: none;
		stroke: #ddd;
	}

	.reset-padding{
		padding-left: 0px !important;
		padding-right: 0px !important;
	}

	rect.page{
		fill: #FFF;
		stroke: #999;
		fill-opacity: .4;
		cursor: move;
	}

	rect.thumb{
		fill: #0A0A0A;
		stroke: #999;
		fill-opacity: .4;
		cursor: move;
	}

	.superscript { 
		position: relative; 
		top: -0.5em; 
		font-size: 80%; 
	}

	.list-glyphicon{
		top: auto;
		font-size: 14px;
		line-height: 1.5;
	}

	.list-navbar-text{
		margin-top: 5px !important;
		margin-bottom: 0px !important;
	}

	.multiselect{
		background-color: #EAEAEA;
	}

	.multiselect input{
		margin-left: -2px;
	}
}

//Document View..

.doc-panel{
	margin: 0 0 0 0;
	padding: 10px;
	/*background: #FAFAFA;*/
}

.doc-list > li {
	border-bottom: 1px solid #CCC;
}

.bs-summary {
	position: relative;
	padding: 5px 20px 0px;
}

.bs-summary:after {
	position: absolute;
	top: 15px;
	left: 15px;
	font-size: 12px;
	font-weight: 700;
	color: #959595;
	text-transform: uppercase;
	letter-spacing: 1px;
	content: "Summary";
}

.bs-content {
	position: relative;
	padding: 35px 20px 0px;
}

.bs-content:after {
	position: absolute;
	top: 15px;
	left: 15px;
	font-size: 12px;
	font-weight: 700;
	color: #959595;
	text-transform: uppercase;
	letter-spacing: 1px;
	content: "Content";
}

.bs-entities {
	position: relative;
	padding: 35px 10px 0px;
}

.bs-entities:after {
	position: absolute;
	top: 15px;
	left: 15px;
	font-size: 12px;
	font-weight: 700;
	color: #959595;
	text-transform: uppercase;
	letter-spacing: 1px;
	content: "Affiliated Entities";
}

.list-group{
	margin-bottom: 0px !important;
}

.list-group-item{
	border: none !important;
}

.wc-label{
	/*font-size: 100% !important;*/
	border-radius: 0px !important;
	font-weight: 500 !important;
}

.label-space{
	margin-left: 1px;
	margin-right: 1px;
}

.summary-panel{
	padding: 5px !important;
}

.summary-panel span {
	display: inline-block;
}

.doc-panel-heading{
	padding: 5px 10px !important;
}

.entity-editor{
	min-height: 40px;
	background: #EEE;
}

/*Grid CSS*/

.controls-panel{
	background: #f5f5f5;
	padding: 20px !important;
	padding-top: 0px !important;
	padding-bottom: 5px !important;
}

.grid-container{
	margin: 0px;
	line-height: 0.75em;
	background: #eee;
	padding: 1px;
}

.document {
	display: inline-block;
	width: 18px;
	height: 24px;
	border: 1px solid #eee;
	background: #FFF;
}

.selected {
	border: 2px solid #f03b20 !important;
}

.clicked{
	border: 2px solid #FEF935 !important;
}

.selected-tag-item{
	font-weight: bold !important;
}

.highlight {
    font-weight: bolder !important;
    color: #000 !important;
    background-color: #FFFF88;
}