@import '/less/style.less';
@nav-profil-pattern: url("../assets/images/patterns/header-profile.png") no-repeat;
// body { padding-top: 50px; }
#page-wrapper {
	margin: 0;
}

nav {
	.navbar-form-custom {
		width: 400px;
		.form-control {
			height: 50px;
		}
		.form-group {
			padding-top: 6px
		}
	}
}

.main-panel {
	.entity {
		.ibox-title {
			.ibox-tools {
				a {
					color: white;
				}
			}
		}
	}
}