<a ng-show="count > 0" class="dropdown-toggle count-info" href="" dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-bell"></i> <span class="label label-primary">{{count}}</span>
</a>
<ul ng-show="count > 0" class="dropdown-menu dropdown-alerts">
    <li ng-repeat="notification in notifications" ng-click="clearNotification($index)">
        <a>
            <div>
                {{notification.title}} has reached a threshold of {{notification.threshold}}
            </div>
        </a>
        <div class="divider"></div>
    </li>
    <!-- <li class="divider"></li> -->
    <!-- <li>
        <div class="text-center link-block">
            <a ui-sref="notifications_tooltips">
                <strong>See All Alerts</strong>
                <i class="fa fa-angle-right"></i>
            </a>
        </div>
    </li> -->
</ul>