<i style="padding-right: 1em;" class="fa fa-search"></i>
<isteven-multi-select  ng-controller="searchCtrl"  
    input-model="achGroups"    
    output-model="achResults"
    button-label="title"
    item-label="title"
    tick-property="ticked"
    group-property="achGroup"
    on-open="fOpen()"                
    on-close="fClose()"
    on-item-click="fClick( data )"
    on-select-all="fSelectAll()"
    on-select-none="fSelectNone()"
    on-reset="fReset()"
    on-clear="fClear()"
    on-search-change="fSearchChange( data )"
    max-height="250px"
>
</isteven-multi-select>