<div class="row border-bottom white-bg ng-scope">
    <nav class="navbar navbar-static-top" role="navigation">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                <i class="fa fa-reorder"></i>
            </button>
            <a href="#" class="navbar-brand"><span style="font-weight:bold;">VIZ</span>IT</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav">
                <!-- <li class="active">
                    <a ui-sref="layouts" href="/layouts"> Back to main Layout page </a>

                </li> -->
                <li class="dropdown" dropdown="">
                    <a class="dropdown-toggle" href="" dropdown-toggle="" aria-haspopup="true" aria-expanded="false"> Menu item <span class="caret"></span></a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a href="#">Menu item</a></li>
                        <li><a href="#">Menu item</a></li>
                        <li><a href="#">Menu item</a></li>
                        <li><a href="#">Menu item</a></li>
                    </ul>
                </li>
                <form role="search" class="navbar-form-custom" method="post" action="">
                    <div class="form-group" ng-include="'components/search/search.html'">
                        <!-- <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search"> -->

                    </div>
                </form>
            </ul>
            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown" dropdown="" ng-include="'components/notifications/notifications.html'">
                           
                  </li>
                <li>
                    <a href="login.html">
                        <i class="fa fa-sign-out"></i> Log out
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>